DEVS="{{ dt_docker_dev | default(dt_disk_path) }}"
VG="{{ dt_docker_vg }}"
DATA_SIZE="{{ dt_docker_data_size }}"
STORAGE_DRIVER="{{ dt_docker_storage_driver }}"
CONTAINER_ROOT_LV_NAME="{{ dt_docker_container_root_lv_name }}"
CONTAINER_ROOT_LV_MOUNT_PATH="{{ dt_docker_container_root_lv_mount_path }}"
CONTAINER_ROOT_LV_SIZE="{{ dt_docker_container_root_lv_size }}"
